.home__title {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #212121;

  width: 605px;
  padding-top: 292px;
}
.home__btn {
  margin-left: 376px;
  margin-bottom: 111px;
  margin-top: 318px;
}
